*.egg
*.egg-info
*.iml
*.ipr
*.iws
*.log
*.mo
*.py[codt]
*.so
.coverage
.DS_Store
.idea
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.sass-cache/
.tox
.webassets-cache
bin
build
craigomatic/settings/production.py
develop-eggs
dist
docs/_build
eggs
env
env*
lib
lib64
node_modules/
nosetests.xml
output/*.html
output/*/index.html
parts
pip-log.txt
sdist
var
venv
